<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wharton Index of Transformational Impact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a0c4b2a8d6.js" crossorigin="anonymous"></script>
  <script data-ad-client="ca-pub-7440782359657760" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <style>
    .row {
      display: flex;
      align-items: center;
    }
  </style>

</head>

<body style="background-color:AliceBlue;">

  <div class="container-fluid">

    <div class="row" style="background-color:Navy;">
      <div class="col">
        <h1 align="center" style="color:white;">Wharton Index of Transformational Impact </h1>
        <p align="center" style="color:white;"> <i>An Online Platform to connect hospitals with volunteers and donors</i></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <br><br>
      </div>
    </div>

    <div class="row">
      <div class="col" align="center" style="border-right: 2px ridge;">
        <h3> Hospitals, log in here </h3><br>
        <button style="width:170px; max-width:90vp" class="btn btn-info" onclick="location.href='auth?websiteId=hospital';">Log In</button><br>
        <p style="color:red;" id="hospitalError"></p>
        <hr>

        <h3> Donors and Volunteers, log in here </h3><br>
        <button style="width:170px; max-width:90vp" class="btn btn-info" onclick="location.href='auth?websiteId=person';">Log In</button><br>
        <p style="color:red;" id="personError"></p>
        <hr>

        <h3> New Here? </h3><br>
        <h5>Hospitals, Donors and Volunteers can create an acccount here.
        </h5><br>
        <button style="width:170px; max-width:90vp" class="btn btn-info" onclick="location.href='auth?websiteId=create';">Create Account</button>
        <br>
      </div>

      <div class="col" align="center">
        <h2>Connect with hospitals with the most transformational impact</h2><br>
        <img src="https://www.kulud-pharmacy.com/wp-content/uploads/2018/01/687474703a2f2f692e696d6775722e636f6d2f4f32454f4378662e706e67.png" height="400" width="500">
      </div>
    </div>
  </div>

</body>

</html>
